<section>
  <article>
    <h3>Sobre nós</h3>
    <h1>Ética e conhecimento alinhado para <br />melhor atendê-lo.</h1>
    <p>
      Diego William Advogados & Associados é um escritório focado no atendimento
      diferenciado e em soluções jurídicas duradouras. Nosso maior propósito é
      fazer com que os clientes tenham a melhor experiência buscando seus
      direitos legais. Fundado em XXXX, concentra-se todos os esforços para
      fornecer serviços diferenciados alicerçados na busca constante às reais
      necessidades dos clientes. As áreas em que atuamos são: Direito
      Trabalhistas, Direito Previdenciário, Tributário, Empresarial, Civil.
    </p>
  </article>
  <figure>
    <img src="logo-preta.jpeg" alt="logotipo Diego William Advogados" />
  </figure>
</section>
