<header>
  <figure>
    <img src="logo.avif" alt="logo do cliente" />
  </figure>

  <section>
    <button mat-button matTooltip="Nosso contato">
      <mat-icon>phone</mat-icon>(96) 98888-8888
    </button>

    <div class="btn-info">
      <button mat-button>
        <mat-icon>email</mat-icon> contato&#64;email.com
      </button>
      <a href="#">Enviar email</a>
    </div>

    <div class="btn-info">
      <button mat-button><mat-icon>location_on</mat-icon> Onde estamos</button>
      <a href="#"> Macapá-AP </a>
    </div>
  </section>
</header>
