:root,
:host {
  --sys-background: #141218;
  --sys-on-background: #e7e0e8;
  --sys-surface: #141218;
  --sys-surface-dim: #141218;
  --sys-surface-bright: #3b383e;
  --sys-surface-container-lowest: #0f0d13;
  --sys-surface-container-low: #1d1b20;
  --sys-surface-container: #211f24;
  --sys-surface-container-high: #2b292f;
  --sys-surface-container-highest: #36343a;
  --sys-on-surface: #e7e0e8;
  --sys-surface-variant: #49454e;
  --sys-on-surface-variant: #cbc4cf;
  --sys-inverse-surface: #e7e0e8;
  --sys-inverse-on-surface: #322f35;
  --sys-outline: #948f99;
  --sys-outline-variant: #000000;
  --sys-shadow: #000000;
  --sys-scrim: #ffffff;
  --sys-surface-tint: #ffffff;
  --sys-primary: #000000;
  --sys-on-primary: #000000;
  --sys-primary-container: #322f35;
  --sys-on-primary-container: #ffffff;
  --sys-inverse-primary: #322f35;
  --sys-secondary: #ffffff;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #49454e;
  --sys-on-secondary-container: #e9ddff;
  --sys-tertiary: #ffffff;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffffff;
  --sys-on-tertiary-container: #ffd9e3;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #7a767d;
  --sys-neutral-variant: #7a757f;
  --sys-primary-fixed: #ffd9e2;
  --sys-primary-fixed-dim: #ffb1c8;
  --sys-on-primary-fixed: #3a071d;
  --sys-on-primary-fixed-variant: #703348;
  --sys-secondary-fixed: #e9ddff;
  --sys-secondary-fixed-dim: #d0bcfe;
  --sys-on-secondary-fixed: #210f47;
  --sys-on-secondary-fixed-variant: #4d3d75;
  --sys-tertiary-fixed: #ffd9e3;
  --sys-tertiary-fixed-dim: #ffb0c9;
  --sys-on-tertiary-fixed: #3a071e;
  --sys-on-tertiary-fixed-variant: #6f3349;
  --sys-inverse-secondary: #65558f;
  --sys-inverse-tertiary: #8b4a61;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #ffffff;
  --sys-on-error-fixed-variant: red;
}
